//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------


.btn{
  font-family: $headings-font-family;
  color: white;
  border-radius: $border-radius-small;
  border: 0;
  @include transition(all .25s linear);
  &.btn-success {
    background-color: #5cb85c;
    border-color: #4cae4c;
  }
  &.btn-info {
    background-color: #5bc0de;
    border-color: #46b8da;
  }
  &.btn-warning {
    background-color: #f0ad4e;
    border-color: #eea236;
  }
  &.btn-danger {
    background-color: #d9534f;
    border-color: #d43f3a;
  }
  &.omr-btn-default{
    background-color: $omr-medium-red;
    border-color: $omr-dark-red;
    margin-top: 1em;
  }
  &.omh-btn-default{
    background-color: $omh-medium-green;
    margin-top: 1em;
  }
  &.omgh-btn-default{
    background-color: $omgh-medium-blue;
    margin-top: 1em;
  }
  &.omsp-btn-default {
    background-color: $omsp-medium-purple;
    margin-top: 1em;
  }
  &.omios-btn-default {
    background-color: $omios-medium-orange;
    margin-top: 1em;
  }
  &.omws-btn-default {
    background-color: $om-medium-frenchgray;
    margin-top: 1em;
  }
  &.btn-disabled {
    margin-top: 1em;
  }
  &.course-button{
    color: $charcoal;
    background-color: $yellow;
    border-color: none;
  }
  &.course-button-signup{
    color: $charcoal;
    background-color: $yellow;
    border-color: none;
    font-size: 18px;
    margin-top: 1em;
    &:hover {
      background: darken($yellow, 10%);
    }
  }
  &.course-btn {
      background: $yellow;
      border-radius: 7px;
      color: $charcoal;
      font-size: .75em;
      font-weight: 700;
      padding: 10px 15px;
      display: inline-block;
      bottom: 30px;
      -webkit-transition: all .2s ease-out;
      transition: all .2s ease-out;
      letter-spacing: .03em;
      &:hover {
        background: #edc60d;
      }
    }

  &.link-button {
    background: none;
    border: none;
    color: $charcoal;
    vertical-align: bottom;
    &.btn-xs{
      margin-top: 18px;
    }
  }
  &.complete-btn.one-month-rails, &.complete-btn.one-month-rails-2 {
    background-color: $omr-medium-red;
    color: white;
    border-color: $omr-dark-red;
    outline: none;
    &:hover, &:focus, &:active {
      background-color: $omr-dark-red;
      border-color: $omr-dark-red;
      outline: none;
    }
  }
  &.complete-btn.one-month-html {
    background-color: $omh-medium-green;
    color: white;
    border-color: $omh-dark-green;
    &:hover, &:focus {
      background-color: $omh-dark-green;
      border-color: $omh-dark-green;
      outline: none;
    }
  }
  &.complete-btn{
    color: white;
    background-color: $parent-dark-blue;
    border-color: $parent-dark-blue;
    &:hover, &:focus, &:active {
      background-color: darken($parent-dark-blue, 5%);
      border-color: $parent-dark-blue;
      outline: none;
    }
  }

  &.mailchimp-btn {
    background-color: desaturate($turquoise, 15%);
    border-color: desaturate($turquoise, 15%);
    &:hover {
      background-color: darken($turquoise, 10%);
      border-color: darken($turquoise, 10%);
    }
    @media (max-width: $screen-sm) {
      margin: 10px 0;
    }
  }
}


.btn-embossed {
  @include box-shadow(inset 0 -2px 0 rgba(0,0,0,.3));

  &.active,
  &:active {
    @include box-shadow(inset 0 2px 0 rgba(0,0,0,.3));
  }
  a {
    color:white;
    &:hover {
      text-decoration: none;
    }
  }
}

// Huge
.btn-hg {
  @media (min-width: $screen-phone) {
    // line-height: ensure even-numbered height of button next to large input
    @include button-size(13px, 20px, $font-size-base, $line-height-huge, $border-radius-small);
  }
  @media (max-width: $screen-phone) {
    @include button-size($padding-large-vertical, $padding-large-horizontal, $font-size-base, $line-height-large, $border-radius-small);
  }
}

// Button Outline
.btn-outline {
  color: $btn-primary-bg;
  background-color: $btn-primary-color;
  border-color: darken($btn-primary-bg, 5%);
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active {
  color: $btn-primary-color;
  background-color: $btn-primary-bg;
  border-color: $btn-primary-bg;
}

/* Inverted outline button (white on dark) */
.btn-outline-inverse {
  color: $btn-primary-color;
  background-color: transparent;
  border-color: darken($btn-primary-color, 5%);
}
.btn-outline-inverse:hover,
.btn-outline-inverse:focus,
.btn-outline-inverse:active {
  color: $btn-primary-bg;
  text-shadow: none;
  background-color: #fff;
  border-color: #fff;
}
