.landing-header-section {
  width: 100%;
  height: 520px;
  @include responsive-image(cover);
  @include breakpoint(tablet){max-height: none;}
  &.stripe {
    background-image: url('course-bg/monkey-bg.jpg');
    background-position: 50% 45%;
  }
  &.html {
    background-image: url('tout-firework-lg.jpg');
    background-position: 50% 100%;
  }
  &.omws {
    background-image: url('masthead-bg-security.jpg');
  }
  &.rails {
  background-image: url('omr-landing-bg.jpg');
  }
  &.growth {
    background-image: url('tout-skater-lg.jpg');
  }
  &.ios {
    background-image: url('masthead-bg-ios.jpg');
  }
  &.omjs {
    background-image: url('masthead-omjs.jpg');
    height: 100vh;
  }
  &.ompy {
    background-image: url('masthead-bg-python.jpg');
    height: 100vh;
  }
  &.omux {
    background-image: url('masthead-bg-ux.jpg');
    height: 100vh;
  }
}

.landing-header-text {
  @include make-sm-column(12);
  text-align: center;
}

.landing-header-text > h1 {
  font-family: $landing-header-font-family;
  font-size: 1.5em;
  line-height: 1.1; 
  color: white;
  margin-top: 1em;
  text-transform: uppercase;
  @include breakpoint(mobile){font-size: 2em;}
  @include breakpoint(tablet){font-size: 3em;}
}

.landing-header-text > p {
  font-size: 1.15em;
  color: #a6a6a6; 
  padding-top: 18px;
}